:root {
  --background: #ffffff;
  --foreground: #171717;
}

.border-subtle {
  border-color: #d1d5db !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
  overflow: hidden!important;
}

a {
  color: inherit;
  text-decoration: none;
}

.box-size-3 {
  height: 1.5rem;
  width: 1.5rem;
}

.custom-spinner {
  display: flex !important;
  height: 4rem !important;
  width: 4rem !important;
}
.custom-spinner .p-progress-spinner-circle {
  stroke: currentColor !important;
  opacity: 0.5;
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
}

.p-button,
.p-button-icon-only {
  align-items: center !important;
  display: inline-flex !important;
  justify-content: center !important;
  vertical-align: middle;
}

.p-button-icon-only .p-button-label {
  display: none;
}

.p-sortable-column-icon {
  vertical-align: middle;
}

.p-datatable-table {
  border-spacing: 0;
}

.p-tag {
  display: inline-flex;
}

.p-tag-value {
  display: none;
}

.dialog-header-primary .p-dialog-header-icon {
  color: white;
}

.dialog-header-primary .p-dialog-header-icon:hover {
  background: rgba(161, 194, 255, 0.589);
}

.p-hidden-accessible {
  display: none;
}

.p-paginator {
  display: flex;
  align-items: center;
}
.p-paginator-page,
.p-paginator-element {
  display: inline-flex !important;
  align-items: center !important;
  text-align: center !important;
  justify-content: center;
}
