.p-button,
.p-button-icon-only {
  align-items: center !important;
  display: inline-flex !important;
  justify-content: center !important;
  vertical-align: middle;
}

.p-button-label {
  flex: 1;
}

.p-button-icon-only .p-button-label {
  display: none;
}

.p-sortable-column-icon {
  vertical-align: middle;
}

.p-datatable-table {
  border-spacing: 0;
}

.p-tag {
  display: inline-flex;
}

.p-tag-value {
  display: none;
}

.dialog-header-primary .p-dialog-header-icon {
  color: white;
}

.dialog-header-primary .p-dialog-header-icon:hover {
  background: rgba(161, 194, 255, 0.589);
}

.p-hidden-accessible {
  display: none;
}

.p-paginator {
  display: flex;
  align-items: center;
}
.p-paginator-page,
.p-paginator-element {
  display: inline-flex !important;
  align-items: center !important;
  text-align: center !important;
  justify-content: center;
}

.p-submenu-header:empty {
  display: none;
}

.p-confirm-dialog-message {
  margin: 0;
}
